<%include common/header.ejs%>

<div class="header">

    <div class="toptop">
        <span class="contact_number"> (044) 222 5222 </span>
        <span class="working_time"> 24 години/7 днів </span>
        <span class="free_pizza"> Безкоштовна доставка піци </span>
        <div class="enter_button">
            <button>Війти</button>
        </div>

    </div>

    <div class="lowtop">
        Піца

    </div>

</div>

<div class="pizzaKMA">
    <span>Pizza</span>
    <span>KMA</span>
</div>


<div class="discount">
    <span>Discount</span>
    <span>20% On Evrything</span>
</div>





<div id="cart">
    <div class="orders">
        <div class="order_text">
            <div class="text">Замовлення
                <div class="order_amount">1</div>
            </div>
        </div>
        <div class="clear_orders">Очистити замовлення</div>
    </div>

    <div class="cart_items" >
        <div class="cart_item">
            <div class="name">Impresa (small_size)</div>
            <div class="size">
                <div class="diametr">
                    <img class="ui right spaced avatar image" src="assets/images/size-icon.svg">30
                </div>
                <div class="weight">
                    <img class="ui right spaced avatar image" src="assets/images/weight.svg">500
                </div>
            </div>
            <div class="correct_pizza">
                <div class="price">1 UAH</div>
                <div class="minus">
                    <button>-</button>
                </div>
                <div class="count">2</div>
                <div class="plus">
                    <button>+</button>

                </div>
                <div class="delete">
                    <button>x</button>

                </div>
            </div>
        </div>
    </div>

    <div class="final">
        <div class="sum_orders">
            <div class="sum">Сума замовлення</div>
            <span class="counter">2</span>
        </div>

        <button>Замовити</button>

    </div>

</div>


<div class="container">
    <div class="all_pizzas">
        <span class="pizzas_all">Усі піци</span>
        <span class="amount">666</span>
    </div>

    <div class="navigation">
        <ul class="nav nav-pills">
            <li role="presentation" class="all"><a href="#">All</a></li>
            <li role="presentation" class="meat"><a href="#">Meat</a></li>
            <li role="presentation" class="pineapple"><a href="#">Pineapple</a></li>
            <li role="presentation" class="mushroom"><a href="#">Mushroom</a></li>
            <li role="presentation" class="ocean"><a href="#">Ocean</a></li>
            <li role="presentation" class="vegan"><a href="#">Vegan</a></li>

        </ul>
    </div>

    <div class="row" id="pizza_list">

    </div>
</div>


<%include common/footer.ejs%>